.feature-section {
  text-align: center;
  margin-top: 12.125rem;
  h2 {
    font-size: 2rem;
  }
  p {
    color: $GrayishBlue;
    margin: 1.375rem 0 2rem;
    max-width: 55ch;
    margin-left: auto;
    margin-right: auto;
  }
}
