*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: $Rubik;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

.container {
  max-width: 68.75rem;
  margin: 0 auto;
  width: 88%;
}

.hide-for-desktop {
  @include devices(tablet-up) {
    display: none;
  }
}
.hide-for-tablet {
  @include devices(tablet-down) {
    display: none;
  }
}

.hide {
  display: none;
  @include devices(tablet-up) {
    display: none;
  }
}