@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
@-webkit-keyframes showMenu {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 1%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes showMenu {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 1%;
  }
  100% {
    opacity: 100%;
  }
}
@-webkit-keyframes hideMenu {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    opacity: 0%;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes hideMenu {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    opacity: 0%;
  }
  100% {
    visibility: hidden;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Rubik", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

.container {
  max-width: 68.75rem;
  margin: 0 auto;
  width: 88%;
}

@media only screen and (min-width: 48.5625em) {
  .hide-for-desktop {
    display: none;
  }
}

@media only screen and (max-width: 42.5em) {
  .hide-for-tablet {
    display: none;
  }
}

.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 6rem;
}
.header .nav .menu-icon,
.header .nav .logo {
  cursor: pointer;
  z-index: 2;
}
.header .nav-links a {
  color: rgb(37, 43, 70);
}
.header .nav-links a:not(:last-child) {
  margin-right: 2rem;
}
.header .nav-links a:hover {
  color: hsl(0deg, 94%, 66%);
}
.header .nav-links .btn-nav {
  color: #fff;
  background-color: hsl(0deg, 94%, 66%);
  padding: 0.85rem 2.5rem;
  border: 2px solid hsl(0deg, 94%, 66%);
  border-radius: 3px;
}
.header .nav-links .btn-nav:hover {
  color: hsl(0deg, 94%, 66%);
  background: transparent;
}
@media only screen and (max-width: 42.5em) {
  .header .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: hsla(229deg, 31%, 21%, 0.9);
    z-index: 1;
    padding-top: 104px;
    visibility: hidden;
  }
  .header .nav-links a {
    color: #fff;
    text-align: center;
    padding: 1.5rem 0;
    width: 88%;
    max-width: 28.125rem;
  }
  .header .nav-links a:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.233);
    margin-right: 0;
  }
  .header .nav-links a:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.233);
  }
  .header .nav-links a:last-child {
    margin-top: 1.5rem;
    background-color: transparent;
    border: 2px solid #fff;
  }
}
.header .nav-links.show-menu {
  visibility: visible;
  -webkit-animation: showMenu 200ms ease-out;
          animation: showMenu 200ms ease-out;
}
@media only screen and (max-width: 42.5em) {
  .header .nav-links.hide-menu {
    -webkit-animation: hideMenu 200ms ease-in;
            animation: hideMenu 200ms ease-in;
    visibility: hidden;
  }
}

.hero-section .text-col {
  text-align: center;
  padding-top: 3rem;
}
.hero-section .text-col h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  line-height: 1.4;
}
.hero-section .text-col p {
  color: hsl(229deg, 8%, 60%);
  margin-bottom: 2rem;
  line-height: 1.3;
  max-width: 55ch;
  margin-left: auto;
  margin-right: auto;
}
.hero-section .text-col .cta-btn {
  padding: 1rem 0.6rem;
  border: 2px solid transparent;
  border-radius: 6px;
  box-shadow: 0px 5px 5px -5px rgba(37, 43, 70, 0.67);
  transition: background-color 50ms ease-in-out;
  transition: border 50ms ease-in-out;
}
.hero-section .text-col .cta-btn:hover {
  color: rgb(37, 43, 70);
  background: transparent;
  border: 2px solid rgb(37, 43, 70);
}
.hero-section .text-col .colored-btn {
  color: #fff;
  background-color: hsl(231deg, 69%, 60%);
}
.hero-section .text-col .transparent-btn {
  color: rgb(37, 43, 70);
  background: transparent;
}
.hero-section .img-col {
  max-width: 418px;
  margin: 0 auto;
}
@media only screen and (min-width: 48.5625em) {
  .hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    min-height: 382px;
    margin-top: 130px;
  }
  .hero-section .text-col {
    order: 1;
    text-align: left;
  }
  .hero-section .text-col h2 {
    font-size: clamp(2rem, 4vw, 3rem);
    font-weight: 500;
  }
  .hero-section .text-col .colored-btn {
    margin-right: 1rem;
  }
  .hero-section .img-col {
    order: 2;
    position: absolute;
    right: 0;
    width: 50%;
    max-width: 38.625rem;
  }
}

.feature-section {
  text-align: center;
  margin-top: 8.125rem;
}
.feature-section h2 {
  font-size: 2rem;
}
.feature-section p {
  color: hsl(229deg, 8%, 60%);
  margin: 1.375rem 0 2rem;
  max-width: 55ch;
  margin-left: auto;
  margin-right: auto;
}/*# sourceMappingURL=style.css.map */